.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

/* знаю, что тут можно было сделать проще, например, через first-child,
   но намеренно сделал так, в целях масштабируемости проекта,
   вдруг потом потребуется добавить еще видео и т.д.
*/
.video__iframe:nth-child(2) {
  margin-right: 0;
}
