@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

@import url(../blocks/content/content.css);
@import url(../blocks/description/description.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/resources/resources.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__column/_content/footer__column_content_info.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);


/* Скажите, пожалуйста, где правильно подключать шрифты: здесь или в page.css? Или вообще стоит выносить в отдельный файл типа fonts.css? */
@font-face {
  font-family: 'Inter';
  src:
    url(../vendor/fonts/Inter/Inter-Regular.woff2) format('woff2'),
    url(../vendor/fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url(../vendor/fonts/Inter/Inter-SemiBold.woff2) format('woff2'),
    url(../vendor/fonts/Inter/Inter-SemiBold.woff) format('woff');
  font-weight: 600; /* В брифе сказано, что полужирный это 700, но в интернете везде сказано, что semibold это 600, а 700 это уже bold */
}

@font-face {
  font-family: 'Inter';
  src:
    url(../vendor/fonts/Inter/Inter-Bold.woff2) format('woff2'),
    url(../vendor/fonts/Inter/Inter-Bold.woff) format('woff');
  font-weight: bold;
}
