@font-face {
  font-family: 'Inter';
  src:
    url(../fonts/Inter/Inter-Regular.woff2) format('woff2'),
    url(../fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url(../fonts/Inter/Inter-SemiBold.woff2) format('woff2'),
    url(../fonts/Inter/Inter-SemiBold.woff) format('woff');
    font-weight: 600; /* semi bold */
}

@font-face {
  font-family: 'Inter';
  src:
    url(../fonts/Inter/Inter-Bold.woff2) format('woff2'),
    url(../fonts/Inter/Inter-Bold.woff) format('woff');
  font-weight: bold;
}
